.first-recompense {
	background-color : black;
	width: 100vw;
	height: 100vh;
	position: relative;
}

.first-recompense-scale {
	position: absolute;
	transform: scale(0.7);
	left: 50%;
	top: 50%;
}

.first-recompense-path {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#path_sum, #path_cercle1, #path_cercle2, #path_cercle3, #path_cercle4 {
	stroke-dasharray: 4.98,39.85;
	stroke-dashoffset: 1000;
	animation: dash 10s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}