.js-first-challenge-next {
    position: absolute;
    bottom: 100px;
    right: 200px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
}

.js-first-recompense-button {
	position: absolute;
    bottom: 100px;
    right: 250px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
}