body {
    background-color: #EAEAEA;
    margin: 0;
    overflow: hidden;
 }

.js-conclusion-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 500px;
  visibility: hidden;
  opacity: 0;
}

.js-conclusion-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 24px;
  font-family: Amiko;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
