@font-face {
  font-family: "westeindeCaptionThin";
  src: url('http://localhost:8080/assets/fonts/westeindeCaptionThin.otf');
  font-style: normal;
}

@font-face {
  font-family: "westeindeCaptionBold";
  src: url('http://localhost:8080/assets/fonts/westeindeCaptionBold.otf');
  font-style: normal;
}


body {
    background-color: black;
    margin: 0;
    overflow: hidden;
 }

.js-conclusion-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 500px;
  visibility: hidden;
  opacity: 0;
}

.js-conclusion-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 50px;
  font-family: westeindeCaptionThin;
  text-align: center;
  line-height: 62px;
  color: #A7A6F0;
}
