.js-menu {
    position : absolute;
    right : 2vw;
 }

.js-menu .icone img {
	width : 30px;
	margin-top : 10px;
	margin-bottom : 10px;
}

.js-menu ul {
	list-style : none;
}

#timeline {
	background-color : #d3d3d3;
	width : 1px;
	height : 0px;
	margin-left : 15px;
}
