@font-face {
  font-family: "westeindeCaptionThin";
  src: url('http://localhost:8080/fonts/westeindeCaptionThin.otf');
  font-style: normal;
}

@font-face {
  font-family: "westeindeCaptionBold";
  src: url('http://localhost:8080/fonts/westeindeCaptionBold.otf');
  font-style: normal;
}

.js-menu {
    position : absolute;
    right : 2vw;
 }

.js-menu .icone img {
	width : 30px;
	margin-top : 10px;
	margin-bottom : 10px;
}

.js-menu ul {
	list-style : none;
}

#path {
	position : absolute;
	background-color : white;
	width : 1.35px;
	height : 0px;
	right : 15px;
}

#timeline a {
	color : white;
	text-decoration : none;
	right : 40px;
	font-size : 0.8vw;
	font-family : westeindeCaptionThin;
}

.epreuveID {
	font-family : westeindeCaptionBold;
}

#epreuves {
	right : 0;
	opacity : 0;
	position : absolute;
	text-align : right;
}

#epreuves li {
	width : 160px;
	margin-top : 8vh;
	margin-bottom : 8vh;
}
